.sqlConsole {
  color: green;
  margin: 4px;
  padding: 2px;
  width: 100%;
}
.sqlEditor {
  border: 1px black solid;
  padding: 4px;
  width: 100%;
  height: 300px;
}
.commandBar {
  border: 1px black solid;
}
.sqlResult {
  border: 1px black solid;
  height: 300px;
}
 