
.is-hidden    { display:    none !important; }
.is-invisible { visibility: none !important; }

.block        { display: block        !important; }
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }

.left  { float: left  !important; }
.right { float: right !important; }

.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt0 { margin-top:    0   !important; }
.mt1 { margin-top:    1em !important; }
.mb0 { margin-bottom: 0   !important; }
.mb1 { margin-bottom: 1em !important; }

// div table
.table              { display: table; }
.table > div        { display: table-row; }
.table > div > div  { display: table-cell; }

.menu-bar {
  left: 0;
  top: 0;
  height: 32px;
  border-radius: 5px;
  margin: 2px 2px 0 2px;
  padding: 0 5px 0 5px;
  background-color: lightgrey;
}

.menu-item {
  border-radius: 5px;
  margin: 2px 0 2px 0;
  height: 28px;
  line-height: 24px;
  min-width: 64px;
  text-align: center;
}

.menu-item:hover {
  background-color: lightseagreen;
}

.tag-bar {
  border-radius: 5px;
  margin: 2px 5px 0 5px;
  padding: 0 5px 0 5px;
  left: 0;
  top: 0;
  height: 32px;
  background-color: lightpink;
}

.tag-item {
  border-radius: 5px;
  margin: 4px 5px 4px 0;
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  background-color: lightblue;
}

.tag-add {
  border-radius: 5px;
  margin: 4px 5px 4px 0;
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  background-color: lightblue;

  &:hover {
    background-color: lightseagreen;
  }
}

.tag-close {
  &:hover {
    background-color: lightseagreen;
  }
}

.console-panel {
  color: green;
  margin: 4px;
  padding: 2px;
  width: 100%;
}

.console-editor {
  border: 1px black solid;
  padding: 4px;
  width: 100%;
  height: 300px;
}

.console-tag-bar {
  border: 1px black solid;
}

.console-result {
  border: 1px black solid;
  height: 300px;
}
